# pocket-monstery data

datafiles/data/pbs/abilities.txt
datafiles/data/pbs/items.txt
datafiles/data/pbs/monsters.txt
datafiles/data/pbs/moves.txt
datafiles/data/pbs/types.txt
datafiles/data/pbs/trainertypes.txt
datafiles/data/pbs/trainers.txt

# please never use jpeg for game graphics

datafiles/data/graphics/**/*.png
datafiles/data/graphics/**/*.bmp
datafiles/data/graphics/**/*.gif

# game-specific files

datafiles/data/stuff/**/*.dddd
datafiles/data/stuff/**/*.dddm
datafiles/data/stuff/**/*.vrax

# those annoying config files

Configs/Default/AmazonFire
Configs/Default/Android
Configs/Default/AndroidTV
Configs/Default/HTML5
Configs/Default/iOS
Configs/Default/Linux
Configs/Default/Mac
Configs/Default/tvos
Configs/Default/Windows8
Configs/Default/WindowsUAP