datafiles/data/pbs/abilities.txt
datafiles/data/pbs/items.txt
datafiles/data/pbs/monsters.txt
datafiles/data/pbs/moves.txt
datafiles/data/pbs/types.txt
datafiles/data/pbs/trainertypes.txt
datafiles/data/pbs/trainers.txt
sprites/images/b_tileset_*